@Html.TitleFor()

<div class="row-fluid">

    <div class="span2">

        <ul>
            <li>@Html.ActionLink("Grid", "Grid")</li>
            <li>@Html.ActionLink("Map", "Map")</li>
            <li>@Html.ActionLink("Time", "Timeslider")</li>
            <li>@Html.ActionLink("Page", "Page")</li>
            <li>@Html.ActionLink("Event", "Event")</li>
        </ul>

    </div>
    <div class="span10">

        <h1>Colors</h1>

        <ul class="inline">
            <li style="height: 30px; width: 90px" class="red"></li>
            <li style="height: 30px; width: 90px" class="orange"></li>
            <li style="height: 30px; width: 90px" class="yellow"></li>
            <li style="height: 30px; width: 90px" class="green"></li>
            <li style="height: 30px; width: 90px" class="gray"></li>
            <li style="height: 30px; width: 90px" class="turquoise"></li>
            <li style="height: 30px; width: 90px" class="blue"></li>
            <li style="height: 30px; width: 90px" class="purple"></li>
            <li style="height: 30px; width: 90px" class="pink"></li>
            <li style="height: 30px; width: 90px" class="slateGray"></li>
        </ul>

        <h2>Reds</h2>
        <ul class="inline">
            <li style="height: 30px; width: 90px" class="red1"></li>
            <li style="height: 30px; width: 90px" class="red2"></li>
            <li style="height: 30px; width: 90px" class="red3"></li>
            <li style="height: 30px; width: 90px" class="red4"></li>
            <li style="height: 30px; width: 90px" class="red5"></li>
        </ul>

        <h2>Grays</h2>
        <ul class="inline">
            <li style="height: 30px; width: 90px" class="gray1"></li>
            <li style="height: 30px; width: 90px" class="gray2"></li>
            <li style="height: 30px; width: 90px" class="gray3"></li>
            <li style="height: 30px; width: 90px" class="gray4"></li>
            <li style="height: 30px; width: 90px" class="gray5"></li>
        </ul>



    </div>

</div>